[submodule "Spitfire"]
	path = spitfire
	url = ssh://git@phabricator.magic3w.com/source/spitfire.git
[submodule "_SCSS"]
	path = assets/scss/_
	url = https://github.com/Csardelacal/underscoreSCSS.git
[submodule "M3js"]
	path = assets/js/m3
	url = https://phabricator.magic3w.com/source/M3JS.git
